<!DOCTYPE html>
<html>
	<head>
   
		<title>{{productName}}</title>
   
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
	</head>
<body>
	<h1>{{productName}}</h1>

	<div id="productDetails"> 

		<p> {{productDesc}} </p>
		<i> £ {{productPrice}} </i>

		<form id="addToCart">
		
			<input hidden="true" name="productID" type="text" value="{{productID}}">
			<input hidden="true" name="qty" type="text" value="1">

			<input class= "post" type="submit" value="Add To Cart">
		</form>

	</div>


	<script type="text/javascript">

		$(function()
		{
			$("#addToCart").on("submit", function(event)
			{
				event.preventDefault();
				var values = {};
				$.each($('#addToCart').serializeArray(), function(i, field) {
					values[field.name] = field.value;
				});



				console.log(JSON.stringify(values));
				$.ajax(
				{
					type: 'POST',
					url: "/storefront/api/addToCart/",
					data: values,
					dataType: "json",
	
					statusCode: 
					{
						201: function(resultData){
							console.log(resultData);
							window.location.replace("/storefront/showCart/"+resultData.basketID+"/");
						},

						404: function() {
					      alert('Product not found');
					    },

					    202: function() {
					       alert('Stock not available');
					   	},

					   403: function() {
					       alert('Access Denied');
					   },

					   500: function() {
					       alert('Server Error');
					   },
					}

				}).fail(function(data)
				{
					console.log(data)
				})
			});
		});

	</script>







	{% load staticfiles %}
	<script src="{% static "cookieSetterObf.js" %}"></script>
	

	
</body>
</html>