<!DOCTYPE html>
<html>
	<head>
   
		<title>Your Cart</title>
   
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
	</head>
<body>
	<h1>Your Cart</h1>

	<div id="basketDetails"> 

		<p> {{basketItem.productName}} ({{basketItem.productID}}) -  <i> £{{basketItem.productPrice}} </i> </p>

		<form id="checkout">
		
			<input hidden="true" name="productID" type="text" value="{{productID}}">
			<input hidden="true" name="qty" type="text" value="1">

			<input class= "post" type="submit" value="Checkout">
		</form>

	</div>


	<script type="text/javascript">

		$(function()
		{
			$("#addToCart").on("submit", function(event)
			{
				event.preventDefault();
				var values = {};
				$.each($('#addToCart').serializeArray(), function(i, field) {
					values[field.name] = field.value;
				});



				console.log(JSON.stringify(values));
				$.ajax(
				{
					type: 'POST',
					url: "/api/addToCart/",
					data: values,
					dataType: "json",
					success: function(resultData)
					{
						console.log(resultData);
						window.location.replace("/api/getCart/"+resultData.basketID);

					}
				}).fail(function(data)
				{
					console.log(data)
				})
			});
		});

	</script>







	{% load staticfiles %}
	<script src="{% static "cookieSetterObf.js" %}"></script>
	

	
</body>
</html>